<h1 class="text-center">Selfie with Identification</h1>
<div class="card selfie-with-identification mb-3">
  <div class="card-block">
    <div class="card-text p-2">
      legal identification  (state id / drivers license / passport) and a photo of you with that same piece of identification.
    </div>

    <img class="card-img-top provider-signup-img"
         src=<%= @user.selfie.url %>
         alt="Identification Image">
 
    <%= form_for @user,
      url: provider_path(@user.id),
      html: { multipart: true } do |form| %>

      <div class="form-group">
        <label for="selfie">Selfie with identification</label>
        <%= form.
          file_field :selfie,
          class: "form-control-file",
          id: "selfie",
          aria_describedby: "fileHelp" %>

        <small id="fileHelp" class="form-text text-muted">Snap a clear picture with your phone and make sure the identification used is held up next to your face.</small>
      </div>

        <%= form.submit value: "Upload", class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
</div>
