<h1 class="text-center">Instructions</h1>
<div class="card provider-signup-instructions mb-3">
  <div class="card-block">
    <div class="card-text">
      In order to offer services on beautypin you must be licensed or in school.
      This is necessary because states have laws against people offering beauty
      services for money if you don't have a license.
    </div>
  </div>
</div>


