<article class="provider-signup">
  <div class="card">
    <div class="card-block">
      <div class="card-text">
        In order to offer services on beautypin you must be licensed or in school.
        This is necessary because states have laws against people offering beauty
        services for money if you don't have a license.

      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-block">
      <div class="card-text p-2">
        We need 3 things from you. cosmetology/esthitician license, legal identification  (state id / drivers license / passport) and a photo of you with that same piece of identification.
      </div>
      <form>
        <div class="form-group">
          <label for="license">License</label>
          <input type="file" class="form-control-file" id="license" aria-describedby="fileHelp">
          <small id="fileHelp" class="form-text text-muted">Snap a clear picture with your phone or scan it in.</small>
        </div>

        <div class="form-group">
          <label for="identification">Identification</label>
          <input type="file" class="form-control-file" id="identification" aria-describedby="fileHelp">
          <small id="fileHelp" class="form-text text-muted">Snap a clear picture with your phone or scan it in.</small>
        </div>

        <div class="form-group">
          <label for="selfie">Selfie with identification</label>
          <input type="file" class="form-control-file" id="selfie" aria-describedby="fileHelp">
          <small id="fileHelp" class="form-text text-muted">Take a selfie of yourself with the identification you have uploaded. We need to ensure it's actually you registering for an account.</small>
        </div>

      </form>
    </div>
  </div>

  <div class="card">
    <div class="card-block">
      <div class="card-text">There is a fee associated with this verification service of 5$.
      </div>
    </div>
  </div>

</article>
