<div class="card visible-md-block visible-lg-block mb-4">
  <div class="card-block">
    <h6 class="mb-1 mt-1">About <small>· <a href="#">Edit</a></small></h6>
    <ul class="list-unstyled list-spaced">
      <li>
        <span class="text-muted icon icon-home"></span>
        Went to <a href="#">Aveda Minneapolis</a>
      </li>
      <li>
        <span class="text-muted icon icon-home"></span>
        Works at <a href="#">Cutler Salon - Brooklyn</a>
      </li>
      <li>
        <span class="text-muted icon icon-home"></span>
        Lives in <a href="#">San Francisco, CA</a>
      </li>
    </ul>
  </div>
</div>


