<div class="card mb-4 hidden-md-down">
  <div class="card-block">
    <h6 class="mb-1 mt-1">Sponsored</h6>
    <div data-grid="images" data-target-height="150"><img class="media-object" data-width="640" data-height="640" data-action="zoom" src="/assets/head-massage-emoji.png" style="width: 179px; height: 168px; margin-bottom: 10px; margin-right: 0px; display: inline-block; vertical-align: bottom;"></div>
    <p><strong>Rent a salon chair today! Be your own boss!</strong> It's time
    to make a change today and rent your own salon chair.</p>
    <button class="mb-1 btn btn-outline-primary btn-sm">More Info</button>
  </div>
</div>


