<div class="col-md-3">
  <%= render "sidebars/left_sidebar" %>
</div>

<div class="col-md-6">
  <div class="card">
    <div class="card-block">
      <h4 class="card-text">Would you like to start offering beauty services?</h4>
      <div class="btn-group m-a">
        <a class="btn btn-primary" href="/provider_signup" role="button" aria-disabled="true">Yes</a>
        <button type="button" class="btn btn-primary">No</button>
        <button type="button" class="btn btn-primary">Maybe later</button>
      </div>
    </div>
  </div>
</div>

<div class="col-md-3">
  <%= render "sidebars/right_sidebar" %>
</div>
