<div class="col-xs-6 push-xs-3">
  <h1 style="text-align: center;">An idea is forming</h1>
  <%= image_tag "bulb-emoji.png" %>
  <h2>Some good ideas for a home page</h2>
  <ul>
    <li>
      Suggest searches with examples in full row hero's
    </li>
    <li>
    </li>
  </ul>
</div>
