<table class="table">
  <thead>
    <tr>
      <th>Day</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Sunday</td>
      <td>Day Off</td>
    </tr>
    <tr>
      <th scope="row">Monday</td>
      <td>11am-7pm</td>
    </tr>
    <tr>
      <th scope="row">Tuesday</td>
      <td>11am-7pm</td>
    </tr>
    <tr>
      <th scope="row">Wednesday</th>
      <td>11am-7pm</td>
    </tr>
    <tr>
      <th scope="row">Thursday</th>
      <td>11am-7pm</td>
    </tr>
    <tr>
      <th scope="row">Friday</th>
      <td>11am-7pm</td>
    </tr>
    <tr>
      <th scope="row">Saturday</th>
      <td>11am-7pm</td>
    </tr>
  </tbody>
</table>
