<div class="beauty-console col-sm-12">

  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Beauty Console</label>
      <input type="beauty-console" class="form-control" id="beauty-console" aria-describedby="beautyConsole" placeholder="Say Something and upload a photo">
      <small id="beautyConsoleHelp" class="form-text text-muted">Don't Worry Be Happy</small>
    </div>
  </form>
</div>

<div class="beauty-card col-sm-12">
  <div class="card">
    <img src="http://placehold.it/530x325/E8117F" class="card-img-top img-fluid" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Src: BeautyPin</h4>
      <p class="card-text">Text: #BeautyPin Stuff and things about hair #FashionShow #Summer 2017 fufu collection</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

<div class="beauty-card col-sm-12">
  <div class="card">
    <img src="http://placehold.it/530x325/E8117F" class="card-img-top img-fluid" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Src: Instagram</h4>
      <p class="card-text">Text: #BeautyPin Stuff and things about hair #FashionShow #Summer 2017 fufu collection</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

<div class="beauty-card col-sm-12">
  <div class="card">
    <img src="http://placehold.it/530x325/E8117F" class="card-img-top img-fluid" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Src: Twitter</h4>
      <p class="card-text">Text: #BeautyPin Stuff and things about hair #FashionShow #Summer 2017 fufu collection</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

