<ul class="nav nav-tabs float-xs-right" role="tablist">
  <li class="nav-item">
    <a class="nav-link active"
       data-toggle="tab"
       href="#services"
       role="tab">Services
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link active"
       data-toggle="tab"
       href="#schedule"
       id="schedule"
       role="tab">Schedule
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link active"
       data-toggle="tab"
       href="#albums"
       role="tab">Albums
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link active"
       data-toggle="tab"
       href="#socialFeed"
       role="tab">Social Feed
    </a>
  </li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="services" role="tabpanel">
    <%= render "beauty_providers/service_list" %> 
  </div>
  <div class="tab-pane" id="schedule" role="tabpanel">
    <%= render "beauty_providers/schedule" %> 
  </div>
  <div class="tab-pane" id="albums" role="tabpanel">
    <%= render "beauty_providers/albums" %> 
  </div>
  <div class="tab-pane" id="social-feed" role="tabpanel">
    <%= render "beauty_providers/social_feed" %> 
  </div>
</div>

