$tcon-size: 40px !default;
$tcon-transition: .3s !default;
$tcon-grid-base: .5rem !default;
$tcon-grid-color: black !default;
$tcon-jstransform: 'tcon-transform' !default;
$tcon-grid-morph: (
  transform: rotate3d(0, 0, 1, -45deg) scale3d(.8, .8, .8)
);

.tcon-grid {
  padding: $tcon-grid-base*2;
  .tcon-grid__item {
    width: $tcon-grid-base;
    height: $tcon-grid-base;
    background: $tcon-grid-color;
    color: $tcon-grid-color;
    transition: $tcon-transition;
  }
}

.tcon-grid.#{$tcon-jstransform} {
  .tcon-grid__item {
    transform: map-values($tcon-grid-morph);
  }
}
