<table class="table">
  <thead>
    <tr>
      <th>Service</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Haircut</td>
      <td>Long or short it's all the same!</td>
      <td>$120</td>
    </tr>
    <tr>
      <th scope="row">Blowdry</td>
      <td>Shampoo and Blowdry</td>
      <td>$60</td>
    </tr>
    <tr>
      <th scope="row">Treatment</th>
      <td>Hair mask and stuff. Comes with a blowdry service</td>
      <td>$80</td>
    </tr>
  </tbody>
</table>
