<div class="col-xs-6 offset-xs-3">
  <h1 style="text-align: center;">Incoming Awesome Idea!</h1>
  <%= image_tag "bulb-emoji.png" %>

  <h3 style="text-align: center;">Some good possibilities</h3>
  <ul>
    <li>
      List top categories of beauty providers. e.g., Hair, Nails, MedSpa, Waxing
    </li>
    <li></li>
  </ul>
</div>
