<div class="profile-header text-center" style="background-image: url(http://placehold.it/1086x448); ">
  <div class="container-fluid">
    <div class="container-inner">
      <img class="rounded-circle media-object" src="../assets/haircut-emoji.png">
      <h3 class="profile-header-user">Dave Gamache</h3>
      <p class="profile-header-bio">I wish i was a little bit taller, wish i was a baller, wish i had a girl… also.</p>
    </div>
  </div>
  <nav class="profile-header-nav">
    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item active">
        <a class="nav-link" data-toggle="tab" href="#services" role="tab">
          Services
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#schedule" role="tab">
          Schedule
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="tab-content">
  <div class="tab-pane active" id="services" role="tabpanel">
    <h4>Service List</h4>
    <%= render "users/service_list" %> 
    <%= render "services/new" %>
    <%= render "services/index" %>
  </div>
  <div class="tab-pane" id="schedule" role="tabpanel">
    <%= render "users/schedule" %> 
  </div>
</div>

