<article ng-app="stylists" ng-controller="StylistSearchController">

  <header>
    <h1 class="h2">Stylist Search</h1>
  </header>

  <section class="search-form">
    <form>
      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <label for="stylist" class="sr-only">Stylist</label>
            <input type="text"
                   name="search_terms[stylist]"
                   class="form-control input-lg"
                   placeholder="First Name, Last Name"
                   ng-model="stylist"
                   ng-init="stylist = ' '"/>
          </div>
        </div>
        
        <div class="col-sm-5">
          <div class="form-group">
            <label for="near" class="sr-only">Near</label>
            <input type="text"
                   name="search_terms[near]"
                   class="form-control input-lg"
                   placeholder="City, State"
                   ng-model="near"
                   ng-init="near = ' '"/>
          </div>
        </div>
        
        <div class="col-sm-2">
          <button class="btn btn-primary btn-lg"
                  ng-click="search({ search_terms: { stylist: stylist, near: near } })">
            Search
          </button>
        </div>
      </div> <!-- /.row -->
    </form>
  </section>
  <h1 class="searchedFor" ng-if="searchedFor">
    <small>Searched for:</small> {{searchedFor}}
  </h1>

  <section class="search-results">
    <header>
      <h1 class="h3">Results</h1>
    </header>
    <%= render partial: "pager", locals: { search_terms: @search_terms, page: @page } %>

    <ol class="list-group">
      <li class="list-group-item clearfix"
          ng-repeat="stylist in stylists">
        <h3 class="pull-right">
          <small class="text-uppercase">Joined</small>
          {{ stylist.created_at | date }}
        </h3>
        <h2 class="h3">
          {{ stylist.first_name }} {{ stylist.last_name }}
        </h2>
        <h4>{{ stylist.locations[0] | fullAddress }}</h4>
      </li>
    </ol>
    <%= render partial: "pager", locals: { search_terms: @search_terms, page: @page } %>
  </section>

</article>
