/* 
 *= require_tree .
 *= require_self
 *= bootstrap-v4
 */

@import "bootstrap";
$blue: #502BE4;
$red: #94090E;
$light-green: #00AB2C;
$light-red: lighten($red, 10%);
$dark-red: darken($red, 10%);

a.nav-link, a.navbar-brand { 
  color: white;
  &:hover { color: $light-green; }
  &:active { color: darken($light-green, 7%); }

}
// .navbar-toggler {
//   background-image: url("data:image/svg+xml;charset=utf8,
//   %3Csvg
//     viewBox='0 0 32 32'
//     xmlns='http://www.w3.org/2000/svg'%3E
//     %3C
//       pathstroke='rgba(10, 0, 0, 0.5)'
//       stroke-width='2'
//       stroke-linecap='round'
//       stroke-miterlimit='10'
//       d='M4 8h24M4 16h24M4 24h24'
//     /%3E
//   %3C/svg%3E");
//   border-color: rgba(0, 0, 0, 0.1);
// }
//
.navbar-toggler {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  border-color: rgba(0, 0, 0, 0.1);
}

.main-container {
	max-width: 66em;
  @include make-container();
}

.head-container {
	max-width: 100%;
  @include make-container();
}

.header-row { 
  @include make-row();

  .navbar-toggler-right {
    position: absolute;
    right: 1rem;
  }

  .navbar-brand {
    float: left;
    padding-left: 1em;
  }

  nav {
    @include make-col-ready();
    background-color: $red;
    .navbar-nav { list-style-type: none; }
    .navbar-toggler { margin-top: .25em; }
    .nav-links-collapsable > .navbar-nav {
      padding-right: .577em;
      float: right;
      padding-top: 3em;
    }


    @media (max-width:32em) {
      @include make-col(12);

      .nav-links {
        display: none; 
      }
    }

    @media (min-width:32.1em) {
      @include make-col(12);

      .nav-links-collapsable {
        display: none;
      }

      .nav-links > .navbar-nav {
        float: right;
        padding-top: 0em;
        margin-bottom: 0em;
      }

      .nav-links > .navbar-nav li {
        float: left; 
        padding-right: 1em;
      }

      .navbar-toggler {
        display: none;
      }

    }

    .nav-row {
      @include make-row();
      
    } 

  }
}

.content-row { @include make-row(); }
.footer-row { @include make-row(); }

.bottom-left-profile-photo {
  @media(min-width: 34em) {
    top: 5em;
    position: relative;
    right: 1em;
  }

  @media(max-width: 33.9em) {
  }
}

.jumbotron {
	background-image: url(http://placehold.it/1140x300); background-size: 100% 100%;
	margin: 0 !important;

  @media(max-width: 33.9em) {
    display: none; 
  }
}

#map {
	width: 100%;
	height: 400px;
	background-color: grey;
}

