/* 
 *= require transformicons/transformicons
 *= require_tree .
 *= require_self
 *= require entypo
 *= bootstrap-v4
 *= require toolkit.css
 */

@charset "UTF-8";
@font-face {
  font-family: toolkit-entypo;
  src: url('toolkit-entypo.eot');
  src: url('toolkit-entypo.eot?#iefix') format('embedded-opentype'),
       url('toolkit-entypo.woff2') format('woff2'),
       url('toolkit-entypo.woff') format('woff'),
       url('toolkit-entypo.ttf') format('truetype');
}
@import "bootstrap";
@import "bootstrap_variables";
@import "beauty_pin_colors";

a.nav-link, a.navbar-brand { 
  color: white;
  &:hover { color: lighten($green, 17%); }
  &:active { color: darken($green, 7%); }

}

.navbar-toggler {
  border-color: white;
  margin-top: 0px;
	
	&:hover { 
    border-color: lighten($green, 17%); 
    .tcon-menu__lines {
      background: lighten($green, 17%);
      &::before, &::after { background: lighten($green, 17%) }
    }
  }
}

.main-container {
	max-width: 66em;
  @include make-container();
  padding: 0px;
}

.head-container {
	max-width: 100%;
  @include make-container();
}

.header-row { 
  @include make-row();

  .navbar-toggler-right {
    position: absolute;
    right: 1rem;
  }

  .navbar-brand {
    float: left;
    padding-left: 1em;
    padding-right: 0px;
    margin-top: 0px;
    margin-right: 0px;
  }

  nav {
    @include make-col-ready();
    background-color: $red;
    .btn, .custom-select { border-radius: 1px; }
    .navbar-nav {
      margin-top: 0px;
      padding-right: 3px;
      padding-left: 0px;
      list-style-type: none; 
    }
    .nav-link { 
      padding-top: .13337em;
      text-align: right; 
    }

    .nav-links {
      padding: 0px;
    }

    .search-form * { height: 2.31334em; }
    .navigation-search-terms,
    .navigation-search-location { height: 2.313334em }
    .nav-links > .navbar-nav { margin-top: .31em; }
    .search-form-collapsable > form {
     
    }

    @media (max-width:53.1em) {
      @include make-col(12);

      .nav-links { display: none; }
      .search-form { display: none; }
      .search-form-collapsable { padding-left: 1.3em; }
      .navbar-collapse { padding-top: .7em; }
    }

    @media (min-width:53.2em) {
      @include make-col(12);

      .search-form {
        display: block;
      }

      .nav-links-collapsable {
        display: none;
      }

      .nav-links > .navbar-nav {
        float: right;
        padding-top: 0em;
        margin-bottom: 0em;
      }

      .nav-links > .navbar-nav li {
        float: left; 
        padding-right: 1em;
      }

      .navbar-toggler {
        display: none;
      }

    }

    .nav-row {
      @include make-row();
      
    } 

  }
}

.tcon-menu__lines,
.tcon-menu__lines::before,
.tcon-menu__lines::after {
	background: white;
}

.content-row { @include make-row(); }
.footer-row { @include make-row(); }

.bottom-left-profile-photo {
  max-width: 200px;

  @media(min-width: 34em) {
    top: 5em;
    position: relative;
    right: 1em;
  }

  @media(max-width: 33.9em) {
  }
}

.jumbotron {
	background-image: url(http://placehold.it/1140x300); background-size: 100% 100%;
	margin: 0 !important;

  @media(max-width: 33.9em) {
    display: none; 
  }
}

#map {
	width: 100%;
	height: 400px;
	background-color: grey;
}

.card { text-align: center; }
.card-footer {
  padding-bottom: 0px;
  padding-top: 0px;

  @include media-breakpoint-up(xs) {
    font-size: 1em;
  }

  @include media-breakpoint-up(sm) {
    padding-top: 1%;
  }

  @include media-breakpoint-up(md) {
    padding-top: 3%;
  }

}

.card-block {
  padding-bottom: 0px;
  padding-right: 0px;

  @include media-breakpoint-up(xs) {
    font-size: 1em;
    padding-top: 2%;
  }

  @include media-breakpoint-up(sm) {
    font-size: 1.49997em;
    padding-top: 5%;
  }

  @include media-breakpoint-up(md) {
    font-size: 1.5em;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.5em;
  }
}

.card-block > .card-text {
  @include media-breakpoint-up(xs) {
    padding-bottom: 1%;
    margin-bottom: 0px;
  }

  @include media-breakpoint-up(sm) {
    padding-bottom: .67777em;
  }
}

.card-footer > p {
  margin: 0px;
}

.btn-group-wrapper {
  padding-right: 1px;
  padding-left: 1px;
}

.icon-user.dropdown_menu_button {
  color: white;
}

div.caption > p { margin: 3px; }
.card-block { font-size: 1em; }
.card-profile .card-block { padding-left: 0px; }
.card .card-block { padding: 0px; }
.card .card-block ul li { font-size: .8em }

