/*
 *= require_tree .
 *= require_self
 *= bootstrap-v4
 */

@import "bootstrap";

.container {
	max-width: 851px;
}

body {
  margin-top: 60px !important;
}

.bottom-left-profile-photo {
  @media(min-width: 34em) {
    top: 5em;
    position: relative;
    right: 1em;
  }

  @media(max-width: 33.9em) {
  }
}

.jumbotron {
	background-image: url(http://placehold.it/1140x300); background-size: 100% 100%;
	margin: 0 !important;

  @media(max-width: 33.9em) {
    display: none; 
  }
}

#map {
	width: 100%;
	height: 400px;
	background-color: grey;
}

