@import 'bootstrap';
$red: #94090E;
$light-red: lighten($red, 10%);
$dark-red: darken($red, 10%);
$white:  #fff !default;

.navbar-brand {
  @include media-breakpoint-up(md) {
    display: block;
    float: left !important;
    width: 25%;
  }
}

