@import 'bootstrap';
$red: #94090E;
$light-red: lighten($red, 10%);
$dark-red: darken($red, 10%);
$white:  #fff !default;
$light-green: #00AB2C;
$ecto-green: #9AFF5A;

.navbar-brand {
  @include media-breakpoint-up(md) {
    display: block;
    float: left !important;
    width: 25%;
  }
}
a#dropdownMenuButton {
  color: white;
  &:hover { color: lighten($ecto-green, 17%); }
}

.nav-row { width: 100%; }
