<%
  logout_options =
  {
    method: :delete,
    class: "dropdown-item",
  }
%>

<% if user_signed_in? %>
  <li class="login-helper nav-item">
    <div class="dropdown">
      <a class="dropdown_menu_button"
         id="dropdownMenuButton"
         data-toggle="dropdown"
         aria-haspopup="true"
         aria-expanded="false">
        Menu
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to('Logout', destroy_user_session_path, logout_options) %>        
        <%= link_to "Settings", edit_user_registration_path(current_user), { class: "dropdown-item" } %>
      </div>
    </div>
  </li>
<% else %>
  <li class="nav-item">
    <%= link_to('Login', new_user_session_path, {class: "nav-link"}) %>  
  </li>
<% end %>
