<nav class="navbar navbar-toggleable-md navbar-fixed-top">
  <div class="nav-row">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">BeautyPin</a>

    <div class="collapse navbar-collapse nav-links-collapsable" id="navbarSupportedContent">
      <%= render "layouts/nav-links" %>
    </div>

    <div class="nav-links">
      <%= render "layouts/nav-links" %>
    </div>
  </div>
</nav>

