<nav class="navbar navbar-fixed-top">
  <div class="navigation-container">
    <div class="navbar-inner row">

      <a class="col-xs-1 navbar-brand" 
         aria-label="BeautyPin Logo"
         href="/">BeautyPin</a>

      <button class="float-xs-right navbar-toggler hidden-lg-up"
              type="button"
              data-toggle="collapse"
              data-target="#navbarResponsive"
              aria-controls="navbarResponsive"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="collapse navbar-toggleable-md"
           id="navbarResponsive">

        <div class="navigation-search-wrapper col-xs-8">
          <form id="navigation-search row" class="form-inline">
              <select class="custom-select col-xs-2">
                <option selected value="stylist">Stylist</option>
                <option value="beauty">Beauty</option>
              </select>
              <input class="navigation-search-field col-xs-4"
                     type="text"
                     id="search-terms"
                     name="searchTerms[name]"
                     class="form-control input-lg"
                     placeholder="First Name, Last Name"
                     ng-change="search(searchTerms);"
                     ng-model="searchTerms['name']"
                     ng-init="searchTerms = ''"/>

              <input class="navigation-search-field col-xs-4"
                     type="text"
                     placeholder="City and/or State"
                     name="searchTerms[location]"
                     class="form-control input-lg"
                     ng-change="search(searchTerms);"
                     ng-model="searchTerms['location']"
                     ng-init="searchTerms = {name: '', location: ''}"/>

              <button class="navigation-search btn btn-outline-success col-xs-2"
                      type="submit"
                      ng-click="search(searchTerms)">Search</button>

          </form>

        </div><!-- /.navigation-search-wrapper -->

          <div class="navbar-menu col-xs-2 float-xs-right">
            <ul class="nav navbar-nav">
              <li class="nav-item dropdown" aria-label="Dropdown Menu">
                <a class="btn btn-secondary btn-md nav-link dropdown-toggle" 
                   role="button"
                   id="supportedContentDropdown"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">Menu</a>
                <div class="dropdown-menu"
                     aria-labelledby="supportedContentDropdown">
                  <a class="nav-link"
                     aria-label="Profile"
                     href="#">Profile</a>
                  <a class="dropdown-item"
                     href="#">Beauty</a>
                </div>
              </li>
            </ul>
          </div>

      </div><!-- ./collapse -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</nav>

