<nav class="navbar navbar-toggleable-md navbar-fixed-top">
  <div class="nav-row">

    <a class="navbar-brand col-xs-2 col-md-2" href="/">BeautyPin</a>

    <button 
      type="button"
      class="col-xs-1 navbar-toggler navbar-toggler-right tcon tcon-menu--xbutterfly"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
        <span class="tcon-menu__lines" aria-hidden="true"></span>
        <span class="tcon-visuallyhidden">toggle navigation</span>
    </button>

    <div class="search-form col-md-8">
      <form action="/search" class="search-form row">
        <div class="btn-group-wrapper col-md-4">
          <div class="btn-group float-xs-right" data-toggle="buttons">
            <label class="btn btn-primary active">
              <input name="query[type]" type="radio" value="service" checked autocomplete="off">Service
            </label>
            <label class="btn btn-primary">
              <input name="query[type]" type="radio" value="name" autocomplete="off">Name
            </label>
          </div>
        </div>
        <input class="navigation-search-terms col-md-4"
               type="text"
               id="search-terms"
               name="query[terms]"
               class="form-control input-lg"
               placeholder="Terms"/>

        <input class="navigation-search-location col-md-2"
               type="text"
               placeholder="City, State"
               name="query[location]"
               class="form-control input-lg"/>
        <button class="btn navigation-search-btn col-md-2"
                type="submit">Search</button>

      </form> <!-- ./row -->

    </div><!-- ./col -->

    <div class="nav-links col-md-2">
      <%= render "layouts/nav-links" %>
    </div>


    <div class="col-xs-12 collapse navbar-collapse nav-links-collapsable" id="navbarSupportedContent">
      <div class="row">
        <div class="col-xs-10">
          <!-- search form -->
        </div>
        <div class="col-xs-2">
        <%= render "layouts/nav-links" %>
        </div>
      </div>
    </div>

  </div><!-- /.nav-row -->
</nav>

