<nav class="navbar navbar-toggleable-md navbar-fixed-top">
  <div class="nav-row">

    <a class="navbar-brand col-xs-2 col-md-2" href="/">BeautyPin</a>

    <button 
      type="button"
      class="col-xs-1 navbar-toggler navbar-toggler-right tcon tcon-menu--xbutterfly"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
        <span class="tcon-menu__lines" aria-hidden="true"></span>
        <span class="tcon-visuallyhidden">toggle navigation</span>
    </button>

    <div class="search-form col-md-8">
      <%= render "layouts/search-form" %>
    </div><!-- ./col -->

    <div class="nav-links col-md-2">
      <%= render "layouts/nav-links" %>
    </div>


    <div class="col-xs-12 collapse navbar-collapse nav-links-collapsable" id="navbarSupportedContent">
      <div class="row">
        <div class="col-xs-10 search-form-collapsable">
          <%= render "layouts/search-form" %>
        </div>
        <div class="col-xs-2">
        <%= render "layouts/nav-links" %>
        </div>
      </div>
    </div>

  </div><!-- /.nav-row -->
</nav>

